.nav-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #2C3E50;
}

/* Barra de navegación */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  /* Cambia este valor según lo necesites */
  padding: 0 20px;
  /* Añade un padding a los lados para evitar que el contenido se pegue a los bordes en pantallas pequeñas */
}

/* Logo de la tienda */
.navbar-logo {
  color: #ECF0F1;
  font-size: 2em;
  text-decoration: none;
  font-weight: bold;
}

/* Ícono del carrito de compras */
.seeCarrito {
  color: #e714c7;
  font-size: 1.5em;
  cursor: pointer;
}

.breathing-class {
  animation: respirar .8s infinite;
}

@keyframes respirar {
  0% {
    transform: scale(1.0);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1.0);
  }
}

.cart-container {
  display: flex;
  align-items: center;
  padding: 1em;
}

.cart-p {
  margin-right: .5em;
  color: white;
}