.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
}

.footer-left,
.footer-center,
.footer-right {
    flex: 1;
    text-align: center;
}

.footer-logo,
.social-logo {
    max-height: 50px;
}

.footer-center p {
    margin: 0;
}

.footer-right {
    display: flex;
    justify-content: flex-end;
}

.footer-right a {
    margin-left: 10px;
}
